<div class="header">
  <h2 class="header__title">Companion Subscription Plans</h2>
</div><br><br><br><br>




<!-- 3 month -->

<div class="subscription-container">
  <div class="subscription__button" [routerLink]="['/paymentdetail']">
    <h3 class="subscription__title subscription__title--personal"> 
        3 Month 
    </h3>
    <span class="subscription__price"><b>$5 / mo</b></span>
    <ul class="subscription__list">
      <li class="subscription__item">
        <!-- <i class="icon-subscription fas fa-check-circle"></i> -->
        <span>Some words: <span class="subscription__item-text">Lorem ipsum dolor sit amet</span></span>
      </li>
      <li class="subscription__item">
        <!-- <i class="icon-subscription fas fa-check-circle"></i> -->
        <span>More text: <span class="subscription__item-text">Explicabo nemo corporis nesciunt aspernatur</span></span>
      </li>
      <li class="subscription__item">
        <!-- <i class="icon-subscription fas fa-check-circle"></i> -->
        Free Event passes
      </li>
    </ul>
   
  </div>
<!-- 6 month -->

  <div class="subscription__button" [routerLink]="['/paymentdetail2']">
    <h3 class="subscription__title subscription__title--business">
      6 Month 
    </h3>
    <span class="subscription__price"><b>$15 </b><span class="subscription__price-month"><b>/ mo</b></span></span>
    <ul class="subscription__list">
      <li class="subscription__item">
        <!-- <i class="icon-subscription fas fa-check-circle"></i> -->
        <span>Random text: <span class="subscription__item-text">Cultivated who resolution connection motionless</span></span>
      </li>
      <li class="subscription__item">
        <!-- <i class="icon-subscription fas fa-check-circle"></i> -->
        <span>No ideas: <span class="subscription__item-text">Barton did feebly change afford square</span></span>
      </li>
      <li class="subscription__item">
        <!-- <i class="icon-subscription fas fa-check-circle"></i> -->
        Unlimited Storage
      </li>
    </ul>
  </div>

<!-- 1 Year -->
  <div class="subscription__button" [routerLink]="['/paymentdetail3']">
    <h3 class="subscription__title subscription__title--enterprise">
      1 Year 
    </h3>
    <span class="subscription__price"><b>$30/ mo</b></span>
    <ul class="subscription__list">
      <li class="subscription__item">
        <!-- <i class="icon-subscription fas fa-check-circle"></i> -->
        <span>Frequently: <span class="subscription__item-text">Cultivated resolution connection motionless</span></span>
      </li>
      <li class="subscription__item">
        <!-- <i class="icon-subscription fas fa-check-circle"></i> -->
        <span>No ideas: <span class="subscription__item-text">Barton did neebly ehange afford square</span></span>
      </li>
      <li class="subscription__item">
        <!-- <i class="icon-subscription fas fa-check-circle"></i> -->
        Lifetime access to all content
      </li>
    </ul>
  </div>
</div>
