<!-- <footer class="footer">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>

    <ul class="social-icon">
        <li class="social-icon__item">
            <a class="social-icon__link" href="https://www.facebook.com" target="_blank">
                <ion-icon name="logo-facebook" style="font-size: 24px; color: rgb(253, 251, 251);"></ion-icon>
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="https://www.twitter.com" target="_blank">
                <ion-icon name="logo-twitter" style="font-size: 24px; color:  rgb(253, 251, 251);"></ion-icon>
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="https://www.linkedin.com" target="_blank">
                <ion-icon name="logo-linkedin" style="font-size: 24px; color: rgb(253, 251, 251);"></ion-icon>
            </a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="https://www.instagram.com" target="_blank">
                <ion-icon name="logo-instagram" style="font-size: 24px; color:  rgb(253, 251, 251);"></ion-icon>
            </a>
        </li>
    </ul>

    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#">About</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    </ul>
    
    <p>&copy; 2021 Nadine Coelho | All Rights Reserved</p>
</footer> -->
<body>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <!-- Section 1: Company Info -->
                <div class="footer-section">
                    <h3>Efficient Cross-Border Logistics</h3>
                    <p>Affordable and reliable cross-border parcel shipping solutions.</p>
                    <p>Streamlined services for quick delivery, meeting regulatory requirements seamlessly.</p>
                </div>
    
                <!-- Section 2: Recent Posts -->
                <div class="footer-section">
                    <h3>Recent Posts</h3>
                    <p><a href="#">Streamline Your Move: Discover the Perks of Hiring Professional Movers</a></p>
                    <p><a href="#">Best Packing Tips and Tricks For Moving</a></p>
                    <p><a href="#">Be Smart About Packaging and Product Design</a></p>
                </div>
    
                <!-- Section 3: Contact -->
                <div class="footer-section">
                    <h3>Contacts</h3>
                    <p><a href="mailto:info@easeeliteinc.com">infoeaseeliteinc.com</a></p>
                    <p>120 Adelaide Street W., 2500, M5H 1T1, Toronto, Ontario, Canada</p>
                    <div class="footer-icons">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                &copy; 2024 EaseElite, All Rights Reserved.
            </div>
        </div>
    </footer>
    
    <!-- FontAwesome for Icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    
    </body>