* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rajdhani', sans-serif;

}

.footer {
  background-color: #312e2e;

  color: white;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 250px;
}

.footer-section h3 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 22px;
}

.footer-section p,
.footer-section a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-icons a {
  margin-right: 10px;
  font-size: 18px;
  color: white;
  transition: color 0.3s;
}

.footer-icons a:hover {
  color: #FFD700;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #ddd;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      text-align: center;
      padding: 10px;
  }
}

