<div class="dashboard">
    <h1>Dashboard</h1>
    <div class="subscription-stats">
      <div class="stat-card">
        <h2>First Time Traveller</h2>
        <p class="count" id="firstTimeCount">{{ firstTimeCount }}</p>
      </div>
      <div class="stat-card">
        <h2>Companion</h2>
        <p class="count" id="companionCount">{{ companionCount }}</p>
      </div>
      <div class="stat-card">
        <h2>Carrier</h2>
        <p class="count" id="carrierCount">{{ carrierCount }}</p>
      </div>
      <div class="stat-card">
        <h2>Package Sender</h2>
        <p class="count" id="packageCount">{{ packageSenderCount }}</p>
      </div>
    </div>
  </div>
  