.reset_password {
    display: flex;
    margin: 20px ;
    flex-direction: column;
    align-items: center;
   
    max-width: 400px; /* Set a max width for better centering */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    text-align: center; /* Center the text inside the form */
  
   
    h4 {
        font-size: 20px;
        margin-bottom: 15px;
        color: #333;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the form elements */

        input {
            width: 100%; 
            max-width: 350px; 
            padding: 12px;
            margin-bottom: 15px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 14px;
            color: #333;
            text-align: center;

            &:focus {
                border-color: #006AD5;
                box-shadow: 0 0 0 2px rgba(0, 106, 213, 0.2);
                outline: none;
            }
        }

        .reset_btn {
            width: 100%; 
            max-width: 500px; 
            padding: 12px;
            font-size: 16px;
            color: #fff;
            background: linear-gradient(90deg, #003A74, #006AD5);
            border-radius: 8px;/* Updated gradient */
        
            border: none;
            cursor: pointer;
            text-align: center;
            transition: background 0.3s ease;

            // &:hover {
            //      background: linear-gradient(90deg, #003A74, #006AD5);/* Gradient change on hover */
            // }

            &:focus {
                outline: 2px solid #003A74;
                outline-offset: 2px;
            }

            &:disabled {
                background: #ccc;
                cursor: not-allowed;
            }
        }
    }

    .error-msg {
        color: #e74c3c;
        font-size: 12px;
        margin-top: -5px; 
        margin-bottom: 10px; 
        text-align: left;
        width: 100%; 
        max-width: 300px;
    }
}
