<div class="reset_password">
    <h4>Reset Password</h4>
    <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
        <input 
            type="password" 
            placeholder="New Password" 
            [(ngModel)]="resetpassword.password" 
            name="password" 
            minlength="8" 
            #passwordInput="ngModel" 
            required> 
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-msg">
            <small *ngIf="passwordInput.errors?.['required']">Password is required.</small>
            <small *ngIf="passwordInput.errors?.['minlength']">Password must be at least 8 characters long.</small>
        </div>

        <input 
            type="password" 
            placeholder="Confirm Password" 
            [(ngModel)]="resetpassword.confirmPassword" 
            name="confirmPassword" 
            required 
            #confirmPasswordInput="ngModel">
        <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched" class="error-msg">
            <small *ngIf="confirmPasswordInput.errors?.['required']">Please confirm your password.</small>
            <small *ngIf="!passwordsMatch() && confirmPasswordInput.touched">Passwords must match.</small>
        </div>
        <button [routerLink]="['/login']" type="submit" class="reset_btn" >Reset Password</button>
        <!-- <button type="submit" class="reset_btn" [disabled]="resetForm.invalid || !passwordsMatch()">Reset Password</button> -->
    </form>
</div>
