/* Form container styles */
.form_wrapper {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

/* Title container */
.title_container h2 {
    text-align: center;
    color: #006AD5;
    margin-bottom: 20px;
}

/* Input field styling */
.input_field {
    position: relative;
    margin-bottom: 20px;
}

.input_field input,
.form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    transition: border-color 0.3s ease;
    font-family: 'Rajdhani', sans-serif;
}

.input_field input:focus,
.form-control:focus {
    border-color: #006AD5;
    outline: none;
}

/* Form-group styling */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Error messages */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Button styling */
button,
.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #006AD5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover,
.btn-submit:hover {
    background-color: #0056b3;
}

/* Additional Form Element Styling */
#Message {
    width: 92%;
}

#Status,
#Status1 {
    width: calc(96% + 20px); /* Adjust width */
    margin-left: -5px; /* Align with container */
}

/* Responsive styles */
@media (max-width: 768px) {
    .form_wrapper {
        width: 100%;
        padding: 15px;
    }

    .input_field input,
    .form-control {
        width: 100%;
    }

    button,
    .btn-submit {
        width: 100%;
        padding: 8px;
    }
}
