* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f6f8fa;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
                0px 5px 12px -2px rgba(0, 0, 0, 0.1),
                0px 18px 36px -6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 0 20px;
}

.container .title {
    padding: 25px;
    background: #f6f8fa;
}

.container .title p {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.container .title p::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 3px;
    background: linear-gradient(to right, #003A74, #006AD5);
}

.user_details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
}

.user_details .input_box {
    width: calc(100% / 2 - 20px);
}

.input_box label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.input_box label::after {
    content: " *";
    color: red;
}

.input_box input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 15px;
    background-color: #f6f8fa;
    transition: all 120ms ease-out;
}

.input_box input:focus {
    box-shadow: 0px 0px 0px 2px #AC8ECE;
}

.reg_btn {
    padding: 25px;
    margin: 15px 0;
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    align-items: center;     /* Centers the button vertically if needed */
}

.reg_btn input {
    height: 45px;
    width: 550px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(#003A74, #006AD5);
    border-radius: 5px;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.reg_btn input:hover {
    background: linear-gradient(45deg, #003A74, #006AD5);
}


@media screen and (max-width: 584px) {
    .user_details .input_box {
        width: 100%;
    }
}
.error {
    color: red;
    font-size: 12px;
}
.input_box textarea {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    background-color: #f6f8fa;
    transition: all 120ms ease-out;
}

.input_box textarea:focus {
    box-shadow: 0px 0px 0px 2px #AC8ECE;
}