.discount-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        color: #006AD5;
        margin-bottom: 20px;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .form-group {
            flex: 1; /* Ensure equal width for each form group */
            margin-right: 10px;

            &:last-child {
                margin-right: 0; /* Remove margin for the last item */
            }
        }
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }

        input,
        select,
        textarea {
            width: 90%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 1em;
            color: #333;
        }

        input:focus,
        select:focus,
        textarea:focus {
            border-color: #006AD5;
            outline: none;
        }
    }

    .btn-submit {
        width: 100%;
        padding: 10px;
        background-color: #006AD5;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }
}
.error-message {
    color: red; // Change to your preferred error color
    font-size: 0.9em;
    margin-top: 5px;
}
textarea {
    font-family: 'Rajdhani', sans-serif;
    width: 90%; /* Matches the width of other inputs */
    height: 19px; /* Fixed height for the textarea */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    resize: none; /* Prevent users from resizing the textarea */
}

textarea:focus {
    border-color: #006AD5;
    outline: none;
}
