.forgot_password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    
    h3 {
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: 600;
      color: #333;
      text-align: center;
    }
    
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
  
      .email {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 14px;
        color: #333;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        outline: none; // Remove default focus outline
  
        &:focus {
          border-color: #006AD5;
          box-shadow: 0 0 0 2px rgba(0, 106, 213, 0.2);
        }
      }
      
      .reset_btn {
        display: inline-block; // To ensure the button behaves properly
        padding: 12px;
        font-size: 16px;
        color: #fff;
        background: linear-gradient(90deg, #003A74, #006AD5);
        border-radius: 8px;
        border: none;
        cursor: pointer;
        text-align: center; // Center text
        text-decoration: none; // Remove underline from link
        transition: background 0.3s ease;
  
        // &:hover {
        //   background: linear-gradient(90deg, #006AD5, #003A74);
        // }
        
        &:focus {
          outline: 2px solid #003A74; // Add focus style for better accessibility
          outline-offset: 2px;
        }
      }
    }
    
    .cancel {
      margin-top: 15px;
      color: #5881d0;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
      transition: color 0.3s ease;
  
      &:hover {
        color: #003A74;
      }
    }
  }
  .required-msg {
    font-size: 12px; /* Keep the text small */
    color: #e74c3c; /* Softer, professional-looking red */
    margin-top: -5px; /* Fine-tune the top spacing */
    margin-bottom: 10px; /* Consistent spacing with input fields */
    text-align: left; /* Align the message to the left */
    font-weight: 500; /* Adds some weight to the text for clarity */
    letter-spacing: 0.5px; /* Slight letter spacing for better readability */
  }
  