<!-- Navbar -->
<nav class="navbar">
  <div class="logo">
      <img src="/assets/logo.jpg" alt="Logo">
  </div>
  
  <!-- Hamburger Menu for small screens -->
  <!-- <div class="hamburger" (click)="toggleMenu()">
      &#9776;
  </div>
   -->
  <!-- <ul class="nav-links" [ngClass]="{'active': isMenuOpen}"> -->
      <!-- Navigation links -->
      <!-- <li><a routerLink="/home" class="active">Home</a></li>
      <li><a routerLink="/aboutus">About Us</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
  </ul> -->

  <div class="profile-container">
      <!-- <img src="/assets/profile.jpg"
      onerror="this.src='/assets/Image.jpg'"
       alt="Profile" class="profile-img"> -->
      <!-- <a routerLink="/login" class="login">Logout</a> -->


      <a class="login"(click)="logout()">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Logout</span>
      </a>

  </div>
</nav>
