.plan-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    h2 {
        text-align: center;
        color: #006AD5;
        margin-bottom: 20px;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .form-group {
            flex: 1;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
        }

        input,
        select,
        textarea {
            width: 90%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 1em;
            color: #333;
            transition: border-color 0.3s ease;

            &:focus {
                border-color: #006AD5;
                outline: none;
            }
        }

        textarea {
            resize: vertical; /* Allow vertical resizing */
        }
    }

    .btn-submit {
        width: 100%;
        padding: 10px;
        background-color: #006AD5;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }
}
#description {
    width: calc(92% + 20px); /* Make it larger than the default */
    margin-left: -5px; /* Adjust to align with the container */
    font-family: 'Rajdhani', sans-serif;
}

#status {
    width: calc(96% + 20px); /* Make it larger than the default */
    margin-left: -5px; /* Adjust to align with the container */
}
.error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}
