.list-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .title {
        text-align: center;
        margin-bottom: 20px;

        h1 {
            font-size: 28px;
            font-weight: 600;
            color: #006AD5;
        }
    }

    .user-table {
        width: 100%;
        border-collapse: collapse;

        th {
            background: #f6f8fa;
            padding: 15px;
            text-align: left;
            border-bottom: 2px solid #e0e0e0;
            font-weight: 500;
            color: #006AD5;
        }

        td {
            padding: 15px;
            border-bottom: 1px solid #e0e0e0;

            button {
                margin-right: 5px; /* Space between buttons */
                padding: 8px 12px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                &.view {
                    background-color: #006AD5;
                    color: white;

                    &:hover {
                        background-color: #0056b3;
                    }
                }

                &.edit {
                    background-color: #006AD5; /* Yellow for edit */
                    color: white;

                    &:hover {
                        background-color: #006AD5;
                    }
                }

                &.delete {
                    background-color: #006AD5; /* Red for delete */
                    color: white;

                    &:hover {
                        background-color: #006AD5;
                    }
                }
            }
        }

        // Responsive design
        @media screen and (max-width: 1200px) {
            th, td {
                padding: 12px;
                font-size: 16px;
            }
        }

        @media screen and (max-width: 900px) {
            th, td {
                padding: 10px;
                font-size: 14px;
            }
        }

        @media screen and (max-width: 600px) {
            th, td {
                padding: 8px;
                font-size: 12px;
            }

            tr {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px; /* Space between rows */
                border: 1px solid #e0e0e0;
                border-radius: 5px;
                padding: 10px;

                td {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 0; /* Less padding for mobile */
                }
            }

            button {
                margin: 2px 0; /* Stack buttons vertically */
                flex: 1; /* Take equal space */
            }
        }
    }

}