<div class="forgot_password">
    <h3>Forgot Password</h3>
    <form (ngSubmit)="resetPassword()">
        <input type="email" placeholder="Enter your email" class="email" id="email" name="email" [(ngModel)]="login.Email" #EmailControl="ngModel" required>
        <div *ngIf="EmailControl.invalid && EmailControl.touched" class="required-msg">
            Please enter a valid email.
          </div>
        <a href="verificationotp" (click)="resetPassword()" class="reset_btn">Send OTP</a>
    </form>
    <!-- <a href="#" (click)="cancel()" class="cancel">Cancel</a> -->
</div>
