<div class="content-area">
    <div class="plan-form-container">
        <h2>Update Companion</h2>
        <form #companionForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" required minlength="3"
                        [(ngModel)]="admCompSubscription.Title" #title="ngModel" placeholder="Enter Plan Title"
                        class="form-control" [ngClass]="{'is-invalid': title.invalid && title.touched}"
                        pattern="^(?!\s)(?!\s*$).+" />
                    <div *ngIf="title.invalid && title.touched" class="error">
                        <span *ngIf="title.errors?.['required']">Title is required.</span>
                        <span *ngIf="title.errors?.['minlength']">Title must be at least 3 characters long.</span>
                        <span *ngIf="title.errors?.['pattern']">Title cannot start with whitespace and cannot be just
                            whitespace.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="subtitle">Subtitle</label>
                    <input type="text" id="subtitle" name="subtitle" required minlength="3"
                        [(ngModel)]="admCompSubscription.SubTitle" #subtitle="ngModel" placeholder="Enter Subtitle"
                        class="form-control" [ngClass]="{'is-invalid': subtitle.invalid && subtitle.touched}"
                        pattern="^(?!\s)(?!\s*$).+" />
                    <div *ngIf="subtitle.invalid && subtitle.touched" class="error">
                        <span *ngIf="subtitle.errors?.['required']">Subtitle is required.</span>
                        <span *ngIf="subtitle.errors?.['minlength']">Subtitle must be at least 3 characters long.</span>
                        <span *ngIf="subtitle.errors?.['pattern']">Subtitle cannot start with whitespace and cannot be
                            just whitespace.</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" required minlength="10"
                    [(ngModel)]="admCompSubscription.Description" #description="ngModel" placeholder="Enter Description"
                    class="form-control" [ngClass]="{'is-invalid': description.invalid && description.touched}"
                    pattern="^(?!\s)(?!\s*$).+"></textarea>
                <div *ngIf="description.invalid && description.touched" class="error">
                    <span *ngIf="description.errors?.['required']">Description is required.</span>
                    <span *ngIf="description.errors?.['minlength']">Description must be at least 10 characters
                        long.</span>
                    <span *ngIf="description.errors?.['pattern']">Description cannot start with whitespace and cannot be
                        just whitespace.</span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="price">Price(CA$)</label>
                    <input type="number" id="price" name="price" required min="0"
                        [(ngModel)]="admCompSubscription.Price" #price="ngModel" placeholder="Enter Price"
                        class="form-control" [ngClass]="{'is-invalid': price.invalid && price.touched}"
                        pattern="^[0-9]+(\.[0-9]{1,2})?$" />
                    <div *ngIf="price.invalid && price.touched" class="error">
                        <span *ngIf="price.errors?.['required']">Price is required.</span>
                        <span *ngIf="price.errors?.['min']">Price cannot be negative.</span>
                        <span *ngIf="price.errors?.['pattern']">Please enter a valid number.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="planPeriod">Plan Period(M)</label>
            
                    <input type="number" id="planPeriod" name="planPeriod" required min="1" max="12"
                        [(ngModel)]="admCompSubscription.PlanPeriod" #planPeriod="ngModel" placeholder="In Months"
                        class="form-control" [ngClass]="{'is-invalid': planPeriod.invalid && planPeriod.touched}" />
                    <div *ngIf="planPeriod.invalid && planPeriod.touched" class="error">
                        <span *ngIf="planPeriod.errors?.['required']">Plan Period is required.</span>
                        <span *ngIf="planPeriod.errors?.['min']">Plan Period must be at least 1 month.</span>
                        <span *ngIf="planPeriod.errors?.['max']">Plan Period cannot exceed 12 months.</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select id="status" name="status" required [(ngModel)]="admCompSubscription.Status" #status="ngModel"
                    class="form-control" [ngClass]="{'is-invalid': status.invalid && status.touched}">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
                <div *ngIf="status.invalid && status.touched" class="error">
                    <span *ngIf="status.errors?.['required']">Status is required.</span>
                </div>
            </div>

            <button type="submit" class="btn-submit">Submit</button>
        </form>
    </div>
</div>