<div class="header">
    <h2 class="header__title">Subscription Plans</h2>
    <!-- <p class="header__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nihil, aspernatur odit quaerat obcaecati oper</p> -->
</div>
<br><br><br>
<div class="subscription-container">
    <div class="subscription__button" [routerLink]="['/companionsubscription']">
      <h3 class="subscription__title subscription__title--personal"> 
          Companion
          <i class="subscription__icon fas fa-seedling"></i> 
      </h3>
      <span class="subscription__price">$5 <span class="subscription__price-month">/ mo</span> </span>
      <ul class="subscription__list">
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          <span>Some words: <span class="subscription__item-text">Lorem ipsum dolor sit amet</span></span>
        </li>
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          <span>More text: <span class="subscription__item-text">Explicabo nemo corporis nesciunt aspernatur</span></span>
        </li>
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          Free Event passes
        </li>
      </ul>
    </div>
  
    <div class="subscription__button" [routerLink]="['/fttsubscription']">
      <h3 class="subscription__title subscription__title--business">
          First Time Traveller
          <i class="subscription__icon fas fa-carrot"></i>   
      </h3>
      <span class="subscription__price">$15 <span class="subscription__price-month">/ mo</span> </span>
      <ul class="subscription__list">
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          <span>Random text: <span class="subscription__item-text">Cultivated who resolution connection motionless</span></span>
        </li>
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          <span>No ideas: <span class="subscription__item-text">Barton did feebly change afford square</span></span>
        </li>
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          Unlimited Storage
        </li>
      </ul>
    </div>
  
    <div class="subscription__button" [routerLink]="['/carriersubscription']">
      <h3 class="subscription__title subscription__title--enterprise">
          Carrier
          <i class="subscription__icon fas fa-pepper-hot"></i> 
      </h3>
      <span class="subscription__price">$30 <span class="subscription__price-month">/ mo</span> </span>
      <ul class="subscription__list">
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          <span>Frequently: <span class="subscription__item-text">Cultivated resolution connection motionless</span></span>
        </li>
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          <span>No ideas: <span class="subscription__item-text">Barton did neebly ehange afford square</span></span>
        </li>
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          Lifetime access to all content
        </li>
      </ul>
    </div>
  
    <div class="subscription__button" [routerLink]="['/packagesubscription']">
      <h3 class="subscription__title subscription__title--enterprise">
          Package Sender
          <i class="subscription__icon fas fa-pepper-hot"></i> 
      </h3>
      <span class="subscription__price">$30 <span class="subscription__price-month">/ mo</span> </span>
      <ul class="subscription__list">
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          <span>Frequently: <span class="subscription__item-text">Cultivated resolution connection motionless</span></span>
        </li>
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          <span>No ideas: <span class="subscription__item-text">Barton did neebly ehange afford square</span></span>
        </li>
        <li class="subscription__item">
          <i class="icon-subscription fas fa-check-circle"></i>
          Lifetime access to all content
        </li>
      </ul>
    </div>
  </div>
  