<div class="list-container">
    <div class="title">
      <h1>Carrier Transaction List</h1>
    </div>
  
    <table class="transaction-table">
      <thead>
        <tr>
          <th>Registration ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Transaction ID</th>
          <th>Transaction Status</th>
          <th>Status</th>
          <th>Transaction Amount</th>
          <th>Transaction Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of ftttransactionList">
          <td>{{ transaction.RegistrationId }}</td>
          <td>{{ getUserDetail(transaction.RegistrationId, 'FName') }}</td>
          <td>{{ getUserDetail(transaction.RegistrationId, 'LName') }}</td>
          <td>{{ getUserDetail(transaction.RegistrationId, 'Email') }}</td>
          <td>{{ transaction.TransactionId }}</td>
          <td>{{ transaction.TransactionStatus }}</td>
          <td>{{ transaction.Status }}</td>
          <td>{{ transaction.TransactionAmount | currency }}</td>
          <td>{{ transaction.TransactionDate | date: 'medium' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  